<div class="modal-header">
  <h4 class="modal-title">New Transaction</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="idtransaction">Transaction ID</label>
        <input class="form-control" id="idtransaction" [(ngModel)]="newTDashb.transaction_id" type="text" placeholder="Introduzir">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="something()">Continuar</button>
</div>

